<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>@ViewBag.Title - THE BIRYANI CORNER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .jumbotron {
            background-color: #f4511e;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <div id="container" style="white-space:nowrap">

            <h1>THE BIRYANI CORNER</h1>
        </div>
        <p>Specialize in taste of Biryani !</p>

        <marquee direction="up">
            <center>
                <img src="~/Content/biryani_corner.png" alt="No logo" style=" display: inline; position: relative;
        top: 50px;
        left: 30px;
        width: 90px;
        height: 90px;" />
            </center>
        </marquee>

    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
@*                @Html.ActionLink("THE BIRYANI CORNER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
*@            </div>

            <!--<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>-->-->
                    <!--@*<li>@Html.ActionLink("Login", "Login", "Admin")</li>*@-->
                    <!--<li>@Html.ActionLink("Logout", "LogOut", "Admin")</li>-->
                <!--</ul>
            </div>-->

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -THE BIRYANI CORNER</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

